<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="navbar">
        <a href="/">Home</a>
        <a href="/patients">Patients</a>
        <a href="/invoices">Invoices</a>
        <a href="/patients-doctors">Patients' Doctors</a>
        <a href="/insurance-plans">Insurance Plans</a>
</div>

<h2>Doctors</h2>
<p>View, add, delete, and update <strong>doctors</strong> here.</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



<table id="doctor-table">>

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, address and age, in order --}}
        {{#each data}}
        <tr data-value={{this.doctor_id}}>>
            <td>{{this.doctor_id}}</td>
            <td>{{this.doctor_name}}</td>
            <td>{{this.doctor_address}}</td>
            <td><button onclick="confirmDeleteDoctor({{this.doctor_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_doctor.js"></script>

</br>

<div class="box">
    <div class="add-db">

        <h3>Updating A Doctor's address</h3>

        <form class="box-sub" id="update-doctor-form-ajax">

            <label for="input-fullname">Full name: </label>
            <select name="input-fullname" id="doctorSelect">
                <option value="test">Select a doctor</option>
                {{#each data}}
                <option value="{{this.doctor_id}}">{{this.doctor_name}}</option>
                {{/each}}
            </select>

            <label for="input-update-address">Address:</label>
            <input type="text" name="update_address" id="input-address-html-update">

            <input type="submit">

        </form>
        <script src="./js/update_doctor.js"></script>
        </br>
        

        <div class="box-dot">
            <h3>Search for a doctor</h3>
            
            <form class="box-sub" id="search-doctor-html" method='GET' action='/doctors'>
                <p>Search by first OR last name using the field below. (Partial names are okay, too).</p>
                <label for="input-lname">Search: </label>
                <input type="text" name="doctor_name" id="input-lname-html-search">
                
                <input type="submit">
                <a href='/doctors'><button>Reset</button></a>
            </form>
        </div>

        <h3>Add a doctor</h3>

        <form class="box-sub" id="add-doctor-form-ajax">
            
            <p>To add a new doctor, please enter their information below and click `Submit`!</p>
            <label for="input-fname">First Name: </label>
            <input type="text" name="input-fname" id="input-fname-ajax">
            
            <label for="input-lname">Last Name: </label>
            <input type="text" name="input-lname" id="input-lname-ajax">

            <label for="input-address">Address: </label>
            <input type="text" name="input-address" id="input-address-ajax">

            <input type="submit">
        </form>
        {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
        <script src="./js/add_doctor.js"></script>

        
    </div>
</div>

