<a href="/">Home</a>
<h2>Insurance Plans</h2>
<p>View, add, delete, and update <strong>insurance plans</strong> here.</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



{{!-- Create a table --}}
<table id="plans-table">>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Id</th>
            <th>Plan Name</th>
            <th>Number of Patients</th>
            <th>Bill Frequency</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, insurance and age, in order --}}
        {{#each data}}
        <tr data-value={{this.insurance_plan_id}}>>
            <td>{{this.plan_name}}</td>
            <td>{{this.number_of_patients}}</td>
            <td>{{this.bill_frequency}}</td>
            <td><button onclick="deletePlan({{this.insurance_plan_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_plan.js"></script>

<!-- /views/index.hbs -->
<h3 class="add-db">Add a plan here...</h3>
<p>To add a new patient, please enter their information below and click `Submit`!</p>
<form id="add-plan-form" method="POST" action="/add-plan-form">
    <label for="input-pname">Plan Name: </label>
    <input type="text" name="input-pname" id="input-pname">
    
    <label for="input-number-patients">Number of Patients: </label>
    <input type="text" name="input-number-patients" id="input-number-patients">

    <label for="input-frequency">Bill Frequency</label>
    <select name="input-frequency" id="input-frequency">
        <option value="">Select a frequency</option>
        {{#each frequency}}
        <option value="{{this.insurance_plan_id}}">{{this.bill_frequency}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

<!-- /views/index.hbs -->