<div class="navbar">
    <a href="/">Home</a>
    <a href="/patients">Patients</a>
    <a href="/doctors">Doctors</a>
    <a href="/invoices">Invoices</a>
    <a href="/patients-doctors">Patients' Doctors</a>
</div>

<h2>Insurance Plans</h2>
<p>View, add, delete, and update <strong>insurance plans</strong> here.</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>




<table id="plans-table">>

    <thead>
        <tr>
            <th>Id</th>
            <th>Plan Name</th>
            <th>Number of Patients</th>
            <th>Bill Frequency</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, insurance and age, in order --}}
        {{#each data}}
        <tr data-value={{this.insurance_plan_id}}>>
            <td>{{this.insurance_plan_id}}</td>
            <td>{{this.plan_name}}</td>
            <td>{{this.number_of_patients}}</td>
            <td>{{this.bill_frequency}}</td>
            <td><button onclick="deletePlan({{this.insurance_plan_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_plan.js"></script>

</br>

<div class="box">
    <div class="add-db">

        <h3>Add a plan here...</h3>
        <form class="box-sub" id="add-plan-form" method="POST" action="/add-plan-form">
            <p>To add a new plan, please enter the information below and click <strong> Submit</strong>!</p>
            <label for="input-pname">Plan Name: </label>
            <input type="text" name="input-pname" id="input-pname">
            
            <label for="input-number-patients">Number of Patients: </label>
            <input type="text" name="input-number-patients" id="input-number-patients">

            <label for="input-frequency">Bill Frequency</label>
            <select name="input-frequency" id="input-frequency">
                <option value="">Select a frequency</option>
                {{#each frequency}}
                <option value="{{this.insurance_plan_id}}">{{this.bill_frequency}}</option>
                {{/each}}
            </select>

            <input type="submit">
        </form>
    </div>
</div>

<!-- /views/index.hbs -->