<div class="navbar">
        <a href="/">Home</a>
        <a href="/doctors">Doctors</a>
        <a href="/patients-doctors">Patients' Doctors</a>
        <a href="/insurance-plans">Insurance Plans</a>
        <a href="/invoices">Invoices</a>
</div>

<h2>Patients</h2>
<p>View, add, delete, and update <strong>patients</strong> here.</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="people-table">>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Insurance Plan</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, insurance and age, in order --}}
        {{#each data}}
        <tr data-value={{this.patient_id}}>>
            <td>{{this.patient_id}}</td>
            <td>{{this.patient_first_name}}</td>
            <td>{{this.patient_last_name}}</td>
            <td>{{this.insurance_plan_id}}</td>
            <td><button onclick="confirmDeletePatient({{this.patient_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_patient.js"></script>

</br>

<!-- /views/index.hbs -->
<div class="box">
    <div class="add-db">

        <h3>Update A Patient's Insurance...</h3>
            <form class="box-sub" id="update-person-form-ajax">

                <label for="input-fullname">Full name: </label>
                <select name="input-fullname" id="mySelect">
                    <option value="test">Select a Patient</option>
                    {{#each data}}
                    <option value="{{this.patient_id}}">{{this.patient_first_name}} {{this.patient_last_name}}</option>
                    {{/each}}
                </select>

                <label for="input-insurance">Insurance Plan: </label>
                <select name="input-insurance" id="input-insurance-update">
                    <option>Select an Insurance Plan</option>
                    <option value="">None</option>
                    {{#each plans}}
                    <option value="{{this.insurance_plan_id}}">{{this.plan_name}}</option>
                    {{/each}}
                </select>
                <input type="submit">

            </form>
            <script src="./js/update_person.js"></script>

        </br>

        {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
        
        <div class="box-dot">
            <h3>Search for a patient...</h3>
            <form class="box-sub" id="search-person-html" method='GET' action='/patients'>
                <p>Search for patients by last name</p>
                <label for="input-lname">Search by Last Name: </label>
                <input type="text" name="patient_last_name" id="input-lname-html-search">
                
                <input type="submit">
                <a href='/patients'><button>Reset</button></a>
            </form>
        </div>
        </br>

        <h3>Add a patient here...</h3>
        <form class="box-sub" id="add-patient-form-ajax">
            <p>To add a new patient, please enter their information below and click `Submit`! Both a first and last name MUST be entered.</p>
            <label for="input-fname">First Name: </label>
            <input type="text" name="input-fname" id="input-fname-ajax">
            
            <label for="input-lname">Last Name: </label>
            <input type="text" name="input-lname" id="input-lname-ajax">

            <label for="input-insurance">Insurance Plan: </label>
            <select name="input-insurance" id="input-insurance-ajax">
                <option value="">Select an Insurance Plan</option>
                <option value="">None</option>
                {{#each plans}}
                <option value="{{this.insurance_plan_id}}">{{this.plan_name}}</option>
                {{/each}}
            </select>

            <input type="submit">
        </form>
        <script src="./js/add_patient.js"></script>
        
    </div>
</div>